body{font-family:'Roboto',sans-serif;font-size:1em;background-color:#efefef;font-family:'Roboto',sans-serif;overflow:scroll;margin:0 0 8rem 0;}
header{display:table;width:100%;background-color:#fff;display:flex;align-items:center;justify-content:center;}
h1{font-family:'Russo One',sans-serif;padding:0 0 12px 4px;text-align:center;color:dodgerblue;font-weight:bold;font-size:2.5em;margin:.5rem 0;text-shadow:2px 2px silver;}
li{list-style:none}
.sticky-top {position:-webkit-sticky; position:sticky; top:0; z-index:999999; border-bottom:3px solid #000}
.sticky-bottom {position:-webkit-sticky; position:sticky; bottom:0; z-index:999999;}
.mt-1{margin-top:1rem!important;}
.mt-3{margin-top:3rem!important;}
.mb-1{margin-bottom:1rem!important;}
.mb-4{margin-bottom:4rem!important;}
.ml-1{margin-left:1rem!important;}
.mr-1{margin-right:1rem!important;}
.mx-1{margin-left:1rem!important;margin-right:1rem!important;}
.my-1{margin-top:1rem!important;margin-bottom:1rem!important;}
.red{color:red;}
.right{float:right;}
.left{float:left;}
.hide{display:none;}
.show{display:inline;}
.hidden{visibility: hidden;}
.visible{visibility: visible;}
.defo{text-decoration:dodgerblue dotted underline;}
.copyright {font-size:80%; color:white;padding-bottom:1em;}
.bc-div{background-color:#000;display:block}
.breadcrumbs {margin: 0 0 .5rem .75rem;padding: .5rem 0;color:dodgerblue;}
.breadcrumbs li{display:inline;}
.breadcrumbs a{color:dodgerblue;text-decoration:none;}
.breadcrumbs a:hover{color:#fff;text-decoration:underline;}
#cir-footer-wrapper {text-align:center;margin-top:3rem}
#cir-footer-wrapper a {color:#3d99fd;}
#cir-footer-wrapper a:hover {color:white;}
#cir-footer-menu {margin:0; padding:0; font-size:1em; text-align:center; background-color:black; padding-bottom:0px; position:fixed; bottom:0; width:100%; z-index:999999;}
#footer-menu li {display:inline; margin:0; padding:1rem 0; background-image:none;}
